body {
    padding: 0;
    margin: 0;
    background-color: #C4C4C4;
    width: 100vw;
    height: 100vw;
}

#app {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.search-input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 2em;
    padding-left: 20px;
}

.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.repo {
    box-sizing: border-box;
    line-height: 45px;
    padding-left: 20px;
    border: 2px solid black;
    background-color: #E3E3E3;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

.repo:hover {
    background-color: #65CDF9;
}

.repo-cards {
    padding: 0;
}

.repo-card {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #E27BEB;
    border: 1px solid black;
    position: relative;
}

.repo-card--text {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.button::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-top: 4px solid #FF0000;
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 30px;
}

.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-top: 4px solid #FF0000;
    transform: rotate(135deg);
    position: relative;
    top: -83px;
    right: 30px;
}

.hidden {
    display: none;
}